[submodule "assets/vendor/smoke"]
	path = assets/vendor/smoke
	url = git+ssh://git@git.infopark/vendor/smoke.git
[submodule "assets/vendor/screw-unit"]
	path = assets/vendor/screw-unit
	url = git+ssh://git@git.infopark/vendor/screw-unit.git
