[submodule "assets/vendor/smoke"]
	path = assets/vendor/smoke
	url = git://github.com/infopark/smoke.git
[submodule "assets/vendor/screw-unit"]
	path = assets/vendor/screw-unit
	url = git://github.com/infopark/screw-unit.git
